<!doctype html>
<html lang="en">
  <body>
  {% extends 'get_input.html' %}

  {% block body %}

    <br>
    <br>

  <table style="border: solid black; width: 100%; width: 50%; margin-left: auto; margin-right: auto;">
    <tr style="color:rgb(0, 0, 0);">
        <th style="font-size:larger; text-align: center;">Customer Sentiment: {{ sentiment }}</th>
    </tr>
    <tr style="color:rgb(0, 0, 0);">
        <th style="font-size:larger; text-align: center;">Sentiment Probability: {{ probability }}</th>
    </tr>
  </table>

    {% endblock  %}
  </body>
</html>